<div class="col-md-8 mx-auto mt-0">
    <div class="card ">
        <div class="card-header text-center bg-secondary">            
            <h1 class="h4 text-white font-weight-bold">Edici贸n de examen</h1>
        </div>
        <div class="card-body">  
            <h5 class="font-weight-bold text-center mt-0 mb-1">Informaci贸n del paciente</h5>
                <hr class="mt-0 mb-0">                        
                <div class="form-group row mb-0 mt-2">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Nombres y apellidos:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{exam1.nameRel}} {{exam1.lastnameRel}} {{exam1.sec_lastnameRel}}</a>    
                    </div>                                         
                </div>  
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Tipo de identificaci贸n:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{exam1.identification_typeRel}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Identificaci贸n:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{exam1.identificationRel}}</a>    
                    </div>                                         
                </div>           
                    <form action="/exams/editExam/{{exam1.id}}?_method=PUT" class= "justify-content-center" method="POST">             
                        <input type="hidden" name="_method" value="PUT">  
                        <div class="form-group row d-flex justify-content-center">                           
                                    <div class="col-md-6 mb-0">
                                    <label for="date_of_exam" class="mb-0 font-weight-bold">Fecha de examen</label>
                                    <input type="date" class="form-control bg-light mt-0" id="date_of_exam" name="date_of_exam" placeholder="Fecha de Examen"
                                        value="{{exam1.date_of_exam}}">
                                    </div>                                     
                                    <div class="col-md-6 mb-0"> 
                                    <label for="hour_of_exam" class="mb-0 font-weight-bold">Hora de examen</label>                      
                                    <select class="custom-select mr-sm-2" id="hour_of_exam" name="hour_of_exam">
                                        <option selected>{{exam1.hour_of_exam}}</option>            
                                        <option value="6:00am">6:00am</option> 
                                        <option value="7:00am">7:00am</option>  
                                        <option value="8:00am">8:00am</option>
                                        <option value="9:00am">9:00am</option>
                                        <option value="10:00am">10:00am</option> 
                                        <option value="11:00am">11:00am</option>                        
                                    </select>
                                    </div>
                            </div>                                  
                            <hr>
                            <div class="col-md-4 mx-auto">                  
                                <button class="btn btn-primary btn-block">Guardar</button>
                            </div>
                        
                    </form>            
        </div>
    </div>    
</div>

<br>
