<div class="col-md-8 mx-auto mt-0">
    <div class="card ">
        <div class="card-header text-center bg-secondary">            
            <h1 class="h4 text-white font-weight-bold">Edición de examen</h1>
        </div>
        <div class="card-body">  
            <h5 class="font-weight-bold text-center mt-0 mb-1">Información del paciente</h5>
                <hr class="mt-0 mb-0">                        
                <div class="form-group row mb-0 mt-2">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Nombres y apellidos:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{exam1.nameRel}} {{exam1.lastnameRel}} {{exam1.sec_lastnameRel}}</a>    
                    </div>                                         
                </div>  
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Tipo de identificación:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{exam1.identification_typeRel}}</a>    
                    </div>                                         
                </div> 
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Identificación:</label>                           
                    </div>                
                    <div >                         
                        <a class="bg-light">{{exam1.identificationRel}}</a>    
                    </div>                                         
                </div>           
                <div class="form-group row mb-0">    
                    <div class="col-md-4">
                        <label class="bg-light font-weight-bold">Fecha de examen:</label>                           
                    </div>                
                    <div >                         
                        <form action="/exams/obtainDate/{{exam1.id}}" method="POST">  
                            <div>
                                <input type="text" class="form-control bg-light mb-2 fechasok col-md-10" name="date" placeholder="Fecha de Examen"
                                        value="{{date_of_exam}}">
                            </div>
                            <button class="btn btn-success btn-block btn-sm col-md-10">Añadir hora</button>
                    </form>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                      <script>
                          $(document).on('click', '.edit', function(){
                            var id=$(this).data('id');
                            console.log(id)
                            
                            $('#edit').modal('show');
                            $('.modal-body #eidExam').val(id);
                            });
                            var fecha = new Date();
                            var anio = fecha.getFullYear();
                            var dia = fecha.getDate();
                            var _mes = fecha.getMonth(); //viene con valores de 0 al 11
                            _mes = _mes + 1; //ahora lo tienes de 1 al 12
                            if (_mes < 10) //ahora le agregas un 0 para el formato date
                            {
                              var mes = "0" + _mes;
                            } else {
                              var mes = _mes.toString;
                            }

                            let fecha_minimo = anio + '-' + mes + '-' + dia; // Nueva variableconsole.log(fecha_minimo)
                            document.getElementById("date_of_exam").setAttribute('min',fecha_minimo);


                      </script>
                      <script>
                        
                        $(document).on('focus', '.fechasok', function () {
                            $(this).datepicker({
                                minDate: 0,
                                dateFormat: 'yy/mm/dd',
                                inline: true,
                                numberOfMonths: [1, 2],
                                dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                                beforeShowDay: setCustomDate
                            });
                        });
                        function setCustomDate(date) {
                            var clazz = "";
                            var arr1 = highlightDays(date);
                            if (arr1[1] != "") clazz = arr1[1];

                            var arr2 = disableAllTheseDays(date);
                            var arr3 = $.datepicker.noWeekends(date);

                            return [(!arr2[0] || !arr3[0]) ? false : true, clazz];
                        }

                        var holydays = ['27/06/2022', '10/18/2013', '11/2/2013'];
                        function highlightDays(date) {
                            for (var i = 0; i < holydays.length; i++) {
                                if (new Date(holydays[i]).toString() == date.toString()) {
                                    return [true, 'highlight'];
                                }
                            }
                            return [true, ''];

                        }

                        let valores = [$("#fechas").val()];
                                let list = [];
                                valores.forEach(element => {//Para cada valor del array
                                    element.split(',').forEach(elm => {//Lo divido en 2 por la coma y para cada uno de los resultados
                                        list.push((elm));//LO meto en el array fin haciéndole un parse a float para evitar comillas
                                    });
                                });
                                console.log(list)
                                let result = null;
                                for (let i = 0; i < list.length; i++) {
                                  result = list[i].split('');
                                  for (let j = 0; j < list[i].length; j++) {
                                    if (result[j] == "/") {
                                      result[j] = "-"
                                    }
                                  }
                                  list[i] = result.join('').toString();
                                }
                                console.log(list);

                          var disabledDays = list;

                          function disableAllTheseDays(date) {
                              var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
                              if($.inArray((d-1) + '-' + (m+1) + '-' + y,disabledDays) != -1) return [false];
                              return [true];
                          }

                      </script>    
                    </div>                                         
                </div>
                    <!-- <form action="/exams/editExam/{{exam1.id}}?_method=PUT" class= "justify-content-center" method="POST">             
                        <input type="hidden" name="_method" value="PUT">  
                        <div class="form-group row d-flex justify-content-center">                           
                                    <div class="col-md-6 mb-0">
                                    <label for="date_of_exam" class="mb-0 font-weight-bold">Fecha de examen</label>
                                    <input type="date" class="form-control bg-light mt-0" id="date_of_exam" name="date_of_exam" placeholder="Fecha de Examen"
                                        value="{{exam1.date_of_exam}}">
                                    </div>                                     
                                    <div class="col-md-6 mb-0"> 
                                    <label for="hour_of_exam" class="mb-0 font-weight-bold">Hora de examen</label>                      
                                    <select class="custom-select mr-sm-2" id="hour_of_exam" name="hour_of_exam">
                                        <option selected>{{exam1.hour_of_exam}}</option>            
                                        <option value="6:00am">6:00am</option> 
                                        <option value="7:00am">7:00am</option>  
                                        <option value="8:00am">8:00am</option>
                                        <option value="9:00am">9:00am</option>
                                        <option value="10:00am">10:00am</option> 
                                        <option value="11:00am">11:00am</option>                        
                                    </select>
                                    </div>
                            </div>                                  
                            <hr>
                            <div class="col-md-4 mx-auto">                  
                                <button class="btn btn-primary btn-block">Guardar</button>
                            </div>
                        
                    </form> -->            
        </div>
    </div>    
</div>

<br>
