<div class="col-md-10 mx-auto mt-0">
<div> 
  <hr>
  <h2> <p class="font-italic inline">Ex치menes pendientes</p></h2>  
  <hr>
</div>
{{#if pList}}
  <table class="table table-light table-bordered table-hover overflow-y: hidden">
    <thead class="table-secondary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Primer apellido</th>
        <th scope="col">Segundo apellido</th>
        <th scope="col">Identificaci칩n</th>
        <th scope="col">Fecha de examen</th>
        <th scope="col">Hora de examen</th>    
        <th scope="col">Observaci칩n</th>
      </tr>
    </thead>
    <tbody>   
      {{#each pList}} 
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{nameRel}}</td>
          <td>{{lastnameRel}}</td>
          <td>{{sec_lastnameRel}}</td>
          <td>{{identificationRel}}</td>
          <td>{{date_of_exam}}</td>
          <td>{{hour_of_exam}}</td>
          <td>{{observation_of_exam}}</td>
        </tr>
      {{/each}}     
    </tbody>
  </table>
{{else}}
  <br>
  <br>
  <br>
  <div>
    <h4>No se encontraron ex치menes pendientes.</h4>
  </div>
{{/if}}
</div>
